#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  font-family: "Times New Roman", sans-serif;
}

.title{
  text-align: center;
}

.Intro{
  text-align: center;
}
#rc_img{
  border-radius: 10px;
  height: auto;
  width: 600px;
  border-radius: 10px;
  border: 5px solid white;
  box-shadow: black 10px 10px 10px;
}

#rc{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#kangsHobby{
  text-align: left;
  background-color: #213547;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid darkgrey;
}

.form{
  border-radius: 10px;
  border: 3px solid white;
  padding: 10px;
  padding-top: 0px;
  background-color: cornflowerblue;
  color: black
}

h2{
  border-radius: 10px;
  border: 3px solid white;
  padding: 10px;
  padding-top: 0px;
  background-color: cornflowerblue;
}

input, textarea{
  border-radius: 5px;
  background-color: grey;
  border: 3px solid white;
}

#kangstuff{
  text-align: center;
  border-radius: 10px;
  border: 3px solid white;
  padding: 10px;
  padding-top: 0px;
  background-color: cornflowerblue;
  color: black
}

th, td{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid black; /* Visible, single border */
}

#coolTable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.andytable{
  border-collapse: collapse;
  border: 1px solid black;
}

.andyhobby{
  margin-bottom: 20px;
}

.andyform{
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}